/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  background-color: #ffeef6;
  color: #353430;
}

.page.theme_light .decorated-zone {
  background-image: url(/slozhno-sosredotochitsya/images/cover-image-light.png);
}

.page.theme_light .header__theme-menu-list {
  color: #353430;
}

.page.theme_light .header__theme-menu-button:hover {
  border: solid 1px rgba(53, 52, 48, 0.4);
}

.page.theme_light .header__theme-menu-button_active {
  border: solid 1px #353430;
  cursor: default;
}

.page.theme_light .header__theme-menu-button:focus {
  text-decoration: underline #353430;
}

.page.theme_light h4,
.page.theme_light h3 {
  background-color: #ff8dcb;
  color: #353430;
  font-size: 18px;
}

.page.theme_light .link {
  text-shadow: 2px 2px 0px #ff8dcb;
  text-decoration: none;
}

.page.theme_light h1,
.page.theme_light .footer__content {
  color: #ffc2e6;
}

.page.theme_light .image__container-text {
  background-color: #ff8dcb;
  color: #353430;
}

.page.theme_light h2,
.page.theme_light .header__theme-menu-list {
  color: #353430;
}

.page.theme_light .header__text {
  color: #353430;
  background-color: #ff8dcb;
}

.page.theme_light .corner-right-header,
.page.theme_light .corner-left-header,
.page.theme_light .corner-right-footer,
.page.theme_light .corner-left-footer {
  border: 1px solid #353430;
}

.page.theme_light .corner-right-header,
.page.theme_light .corner-right-footer {
  right: 20px;
  border-left: none;
  border-bottom: none;
}

.page.theme_light .corner-left-header,
.page.theme_light .corner-left-footer {
  left: 20px;
  border-top: none;
  border-right: none;
}

.page.theme_light .corner-right-header-text,
.page.theme_light .circle-right-header {
  display: none;
}

.page.theme_light .link:hover{
  text-decoration: underline #353430;
}

.page.theme_light .link:focus{
  border: solid 0.5px #353430;
}
