.page {
  width: 1024px;
  margin: 0 auto;
  background-color: #000028;
  color: #f1b2ce;
  font-size: 18px;
  font-family: "IBM Plex mono";
}

h1 {
  font-size: 157px;
  color: #db00ff;
  text-shadow: 4px 3px 0px #ff0070;
}

header,
footer {
  position: relative;
}

.corner-right-header-text {
  position: absolute;
  top: 22px;
  right: 50px;
  color: #ff0070;
  text-transform: uppercase;
}

.circle-right-header {
  position: absolute;
  top: 26px;
  right: 28px;
  height: 12px;
  width: 12px;
  background-color: #ff0070;
  border-radius: 50%;
  filter: blur(2px);
}

.corner-right-header,
.corner-left-header,
.corner-right-footer,
.corner-left-footer {
  position: absolute;
  height: 25px;
  width: 25px;
  border: 1px solid #ff0070;
}

.corner-right-header,
.corner-right-footer {
  right: 20px;
  border-left: none;
  border-bottom: none;
}

.corner-left-header,
.corner-left-footer {
  left: 20px;
  border-top: none;
  border-right: none;
}

.corner-right-header {
  top: 20px;
}

.corner-left-header {
  bottom: 20px;
}

.corner-right-footer {
  top: 20px;
}

.corner-left-footer {
  bottom: 20px;
}

h2 {
  color: #ff0070;
  font-size: 18px;
}

.header__tittle {
  margin-top: 240px;
}

.header__text {
  background-color: #ff0070;
  color: #000028;
  width: 490px;
  font-weight: bold;
  margin-top: 70px;
  margin-left: 514px;
}

h4,
h3 {
  background-color: #ff0070;
  color: #000028;
  font-size: 18px;
}

h4 {
  font-weight: 100;
}

.decorated-zone {
  background-image: url(/slozhno-sosredotochitsya/images/cover-image-dark.png);
  background-size: cover;
  height: 768px;
}

.header__theme-menu-list {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ff0070;
  gap: 18px;
}

.header__theme-menu-item {
  margin-top: 20px;
  list-style: none;
}

.header__theme-menu-button {
  border: none;
  background-color: transparent;
}

.header__theme-menu-button:hover {
  border: solid 1px rgba(255, 0, 112, 0.4);
}

.header__theme-menu-button_active {
  border: solid 1px #ff0070;
  cursor: default;
}

.page.theme_light .header__theme-menu-button:focus {
  text-decoration: underline #ff0070;
}

.intro {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-top: 60px;
  padding-left: 20px;
}

.reasons {
  margin-top: 78px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-weight: 400;
  line-height: 24px;
}

.reasons__list {
  display: flex;
  gap: 20px;
}

.reasons__list-item-text {
  margin-top: 10px;
}

.solutions {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-top: 68px;
  font-weight: 400;
  line-height: 24px;
  padding-left: 20px;
  padding-right: 20px;
}

.image__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "sunset sunset ice-cream"
    "tape books ice-cream"
    "tape street street";
  grid-gap: 20px;
  justify-items: stretch;
}

.sunset {
  grid-area: sunset;
}

.tape {
  grid-area: tape;
  grid-row: span 2;
}

.ice-cream {
  grid-area: ice-cream;
}

.books {
  grid-area: books;
}

.street {
  grid-area: street;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.intro__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 650px;
}

.intro__list-item-text {
  margin-top: 10px;
}

.reasons__list-item {
  min-width: 315px;
}

.solutions__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 8px;
}
.solutions__list-item-text {
  margin-top: 8px;
  line-height: 24px;
}

.footer__container {
  margin-top: 40px;
  min-height: 768px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__content {
  color: #db00ff;
  font-size: 157px;
  font-weight: bold;
  text-shadow: 4px 3px 0px #ff0070;
}

.image__container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 44px;
}

.link {
  text-shadow: 2px 2px 0px #ff0070;
  text-decoration: none;
}

.link:hover{
  text-decoration: underline #f1b2ce;
}

.link:focus{
  border: solid 0.5px #ff0070;
}

.image__container-text {
  background-color: #ff0070;
  color: #000028;
}


@media (max-width: 768px) and (min-height: 1024px) and (orientation: portrait) {
  .page {
    display: flex;
    flex-direction: column;
    max-width: 768px;
  }

  .decorated-zone {
    min-height: 1024px;
    padding-right: 20px;
  }

  .header__tittle {
    margin-top: 144px;
  }

  .header__text {
    width: 364px;
    margin-top: 134px;
    margin-left: 384px;
  }

  .header__theme-menu {
    margin-top: 190px;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: end;
  }

  .header__theme-menu-item {
    margin-top: 0;
  }

  .intro__tittle {
    max-width: 220px;
  }

  .intro__list {
    padding-right: 20px;
    padding-left: 10px;
  }

  .reasons {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-top: 60px;
  }

  .reasons-title {
    max-width: 200px;
  }

  .reasons__list {
    flex-direction: column;
    gap: 10px;
  }

  .solutions {
    padding: 20px;
    margin-top: 40px;
  }

  .solutions__list {
    gap: 20px;
    margin-left: 12px;
  }

  .solutions__list-item-text {
    min-width: 470px;
  }

  .image__container {
    margin-top: 20px;
  }

  h1,
  .footer__content {
    font-size: 120px;
  }

  .footer__container {
    min-height: 1024px;
  }
}

@media (max-width: 668px) and (orientation: portrait) {
  .page {
    display: flex;
    flex-direction: column;
    max-width: 375px;
  }

  .header__tittle {
    line-height: 0.8;
    margin-top: 70px;
  }

  .header__text {
    margin-top: 55px;
    margin-left: 0;
  }

  .image__grid {
    display: flex;
    flex-direction: column;
  }

  .intro {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-top: 30px;
  }
  .intro__list {
    max-width: 100%;
    gap: 0;
  }

  .intro__list-item {
    margin-top: 20px;
  }

  .reasons {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-top: 25px;
    gap: 0;
  }

  .reasons__list {
    flex-direction: column;
    gap: 10px;
  }

  .reasons__list-item {
    flex-direction: column;
  }

  .solutions {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    padding: 10px;
  }

  .solutions__list {
    padding: 0;
    gap: 12px;
  }

  .solutions__list-item-text {
    margin-top: 8px;
  }

  .solutions-title {
    margin-bottom: 20px;
  }

  h1,
  .footer__content {
    font-size: 116px;
  }

  .header__text {
    background-color: #ff0070;
    width: 355px;
  }

  .header__theme-menu-list {
    flex-direction: column;
    gap: 10px;
    align-items: end;
    margin-top: 65px;
    margin-left: 0;
  }

  .header__theme-menu-item {
    margin: 0;
  }

  .decorated-zone {
    max-height: 668px;
    padding: 10px;
  }

  .reasons-title {
    margin-bottom: 20px;
  }

  .advice {
    margin-bottom: 6px;
  }

  .image__container {
    padding: 10px;
    margin-top: 34px;
    gap: 10px;
  }

  .image__grid {
    gap: 10px;
  }

  .footer__container {
    min-height: 668px;
    margin-top: 30px;
  }
}
